<br/>
<% unless @format.nil? %>
	<span class="welcome_msg">
		Facebook Album List
	</span>
	<span class="help_text">
		(Click on album name to see the photos) <br/><br/>
	</span>
	<% i = 1 %>
	<span class="fb-album-list">
	<table>
	<% @format.each do |data| %>
		<% if (i-1)%3 == 0 %>
			<tr>
		<% end %>
		<span class='album_name'>
			<td width="350px">
			<%= "#{i}." %>
			<%= link_to "#{data['name']}", {:controller => "sessions", :action => "photos", :album_id => "#{data['id']}"} %> 
			</td>
		<% i += 1 %>
		</span>
		<% if (i-1)%3 == 0 %>
			</tr>
		<% end %>
	<% end %>
	</table>
	</span>
<% else%>
	coming in else here
<% end %>
