<%= form_for(:photo_links, :url => {:action => 'delete'}) do |f| %>
	<% if @links.count > 0 %>
		<% i = 1 %>
		<%= render partial: "image_display", locals: {links: @links, check_box_flag: true, :f => f} %>
		<br/>
		<br/>
		<p style="text-align: center;">
		    <button class="link_btn"><h3>DELETE</h3></button></tr>
		</p>
	<% end %>
<% end %>