<span class="help_text"><%= flash[:notice] unless flash[:notice].nil? %></span>
<span class="help_text"><%= flash[:errors] unless flash[:errors].nil? %></span>
<% if @links.count > 0 %>
	<div class="user_images">
		<%= render partial: "image_display", locals: {links: @links, check_box_flag: false} %>
	</div>
<% else %>
	<h3>No photos to display</h3>
<% end %>
<br/>
<br/>