<%= form_for(:photo_links, :url => {:action => 'import'}) do |f| %>
	<% if @pics.count < 1 %>
		No Photos Present in the Album
	<% else %>
		<%= render partial: "image_display", locals: {links: @links, check_box_flag: true, :f => f} %>
		<br/>
		<br/>
		<p style="text-align: center;">
		    <button class="link_btn"><h3>IMPORT</h3></button></tr>
		</p>
	<% end %>
<% end %>