<%= form_for(:sessions, :url => {:action => 'import'}) do |f| %>
	<% @pics.each do |data| %>
		<span id=<%= "pic_"+data['id']%>>
			<%= f.check_box data['images'][0]["source"] %> 
			<%= image_tag("#{data['images'][0]["source"]}", class: "style_image") %> 
		</span>
	<% end %>
	<br/>
	<br/>
	<p style="text-align: center;">
	    <button class="link_btn"><h3>IMPORT</h3></button></tr>
	</p>
<% end %>