/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

*{margin:5px;padding:5px;}

body{
  background:#4b8fed;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.welcome_msg{
  color: white;
	font-size: 125%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    display: block;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    margin-bottom: 15px;
    margin:0 auto;
  	margin-top:1%;
    width: 205px;
}

button#facebook {
  	height: 60px;
  	width: 275px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  	font-size: 15px;
  	border: 2px solid; 
    cursor:pointer;
    text-transform: uppercase;
    background-color: #3b5998;
    background-size: 50px 55px;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

a {
	text-decoration:none;
  color: inherit;
}


.link_btn {
	width:200px;
	background:#4b8fed;
	text-align:center;
	margin-right:10px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 15px;
  color: white;
	cursor:pointer;
	border: 2px solid rgba(255,255,255,255) !important;
	transition:background .3s;
	-webkit-transition:background .3s;
}

.fb-album-list{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: white;
}